-- WARNING: This schema is for context only and is not meant to be run.
-- Table order and constraints may not be valid for execution.

CREATE TABLE public.blog_posts (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  title text NOT NULL,
  slug text NOT NULL UNIQUE,
  content text NOT NULL,
  excerpt text,
  featured_image text,
  author_id uuid,
  author_name text,
  tags ARRAY DEFAULT '{}'::text[],
  status text DEFAULT 'draft'::text CHECK (status = ANY (ARRAY['draft'::text, 'published'::text, 'archived'::text])),
  published_at timestamp with time zone,
  seo_title text,
  seo_description text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT blog_posts_pkey PRIMARY KEY (id),
  CONSTRAINT blog_posts_author_id_fkey FOREIGN KEY (author_id) REFERENCES auth.users(id)
);
CREATE TABLE public.cart_items (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  cart_id uuid NOT NULL,
  product_id uuid NOT NULL,
  variant_id uuid,
  quantity integer NOT NULL DEFAULT 1 CHECK (quantity > 0),
  properties jsonb DEFAULT '{}'::jsonb,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT cart_items_pkey PRIMARY KEY (id),
  CONSTRAINT cart_items_cart_id_fkey FOREIGN KEY (cart_id) REFERENCES public.carts(id),
  CONSTRAINT cart_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id),
  CONSTRAINT cart_items_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.product_variants(id)
);
CREATE TABLE public.carts (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  customer_id uuid,
  session_id text,
  currency text DEFAULT 'USD'::text,
  discount_code text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  expires_at timestamp with time zone DEFAULT (now() + '7 days'::interval),
  CONSTRAINT carts_pkey PRIMARY KEY (id)
);
CREATE TABLE public.collections (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  title text NOT NULL,
  slug text NOT NULL UNIQUE,
  description text,
  image_url text,
  is_visible boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  seo_title text,
  seo_description text,
  metadata jsonb DEFAULT '{}'::jsonb,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT collections_pkey PRIMARY KEY (id)
);
CREATE TABLE public.customer_addresses (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  customer_id uuid NOT NULL,
  first_name text,
  last_name text,
  company text,
  address1 text NOT NULL,
  address2 text,
  city text NOT NULL,
  province text,
  province_code text,
  country text NOT NULL DEFAULT 'US'::text,
  country_code text DEFAULT 'US'::text,
  zip text NOT NULL,
  phone text,
  is_default boolean DEFAULT false,
  address_type text DEFAULT 'shipping'::text CHECK (address_type = ANY (ARRAY['shipping'::text, 'billing'::text])),
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT customer_addresses_pkey PRIMARY KEY (id)
);
CREATE TABLE public.customers (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  email text NOT NULL UNIQUE,
  first_name text,
  last_name text,
  phone text,
  total_spent numeric DEFAULT 0,
  total_orders integer DEFAULT 0,
  accepts_marketing boolean DEFAULT false,
  marketing_updated_at timestamp with time zone,
  notes text,
  tags ARRAY DEFAULT '{}'::text[],
  metadata jsonb DEFAULT '{}'::jsonb,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  address1 text,
  address2 text,
  city text,
  province text,
  zip text,
  country text DEFAULT 'PAKISTAN'::text,
  country_code text DEFAULT 'PK'::text,
  user_id uuid,
  CONSTRAINT customers_pkey PRIMARY KEY (id),
  CONSTRAINT customers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id)
);
CREATE TABLE public.discounts (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  code text NOT NULL UNIQUE,
  title text,
  type text NOT NULL CHECK (type = ANY (ARRAY['percentage'::text, 'fixed_amount'::text, 'free_shipping'::text, 'buy_x_get_y'::text])),
  value numeric NOT NULL,
  minimum_purchase numeric DEFAULT 0,
  minimum_quantity integer DEFAULT 0,
  applies_to text DEFAULT 'all'::text CHECK (applies_to = ANY (ARRAY['all'::text, 'collections'::text, 'products'::text])),
  applicable_ids ARRAY DEFAULT '{}'::uuid[],
  exclude_sale_items boolean DEFAULT false,
  usage_limit integer,
  usage_limit_per_customer integer,
  usage_count integer DEFAULT 0,
  starts_at timestamp with time zone NOT NULL,
  ends_at timestamp with time zone,
  is_active boolean DEFAULT true,
  can_combine boolean DEFAULT false,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT discounts_pkey PRIMARY KEY (id)
);
CREATE TABLE public.inventory_levels (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  location_id uuid NOT NULL,
  variant_id uuid,
  product_id uuid,
  available integer DEFAULT 0,
  reserved integer DEFAULT 0,
  incoming integer DEFAULT 0,
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT inventory_levels_pkey PRIMARY KEY (id),
  CONSTRAINT inventory_levels_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.inventory_locations(id),
  CONSTRAINT inventory_levels_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.product_variants(id),
  CONSTRAINT inventory_levels_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id)
);
CREATE TABLE public.inventory_locations (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  name text NOT NULL,
  address jsonb,
  is_active boolean DEFAULT true,
  is_default boolean DEFAULT false,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT inventory_locations_pkey PRIMARY KEY (id)
);
CREATE TABLE public.navigation_menus (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  handle text NOT NULL UNIQUE,
  title text NOT NULL,
  items jsonb DEFAULT '[]'::jsonb,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT navigation_menus_pkey PRIMARY KEY (id)
);
CREATE TABLE public.newsletter_subscribers (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  email text NOT NULL UNIQUE,
  status text DEFAULT 'active'::text CHECK (status = ANY (ARRAY['active'::text, 'unsubscribed'::text])),
  subscribed_at timestamp with time zone DEFAULT now(),
  unsubscribed_at timestamp with time zone,
  CONSTRAINT newsletter_subscribers_pkey PRIMARY KEY (id)
);
CREATE TABLE public.order_items (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  order_id uuid NOT NULL,
  product_id uuid,
  variant_id uuid,
  title text NOT NULL,
  variant_title text,
  sku text,
  image_url text,
  quantity integer NOT NULL CHECK (quantity > 0),
  unit_price numeric NOT NULL,
  discount_amount numeric DEFAULT 0,
  total_price numeric NOT NULL,
  fulfilled_quantity integer DEFAULT 0,
  requires_shipping boolean DEFAULT true,
  properties jsonb DEFAULT '{}'::jsonb,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT order_items_pkey PRIMARY KEY (id),
  CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id),
  CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id),
  CONSTRAINT order_items_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.product_variants(id)
);
CREATE TABLE public.orders (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  order_number integer NOT NULL DEFAULT nextval('orders_order_number_seq'::regclass) UNIQUE,
  customer_id uuid,
  email text NOT NULL,
  phone text,
  status text DEFAULT 'pending'::text CHECK (status = ANY (ARRAY['pending'::text, 'confirmed'::text, 'processing'::text, 'shipped'::text, 'delivered'::text, 'cancelled'::text, 'refunded'::text])),
  payment_status text DEFAULT 'pending'::text CHECK (payment_status = ANY (ARRAY['pending'::text, 'authorized'::text, 'paid'::text, 'partially_refunded'::text, 'refunded'::text, 'voided'::text, 'failed'::text, 'pending_verification'::text, 'cod_pending'::text, 'proof_submitted'::text])),
  fulfillment_status text DEFAULT 'unfulfilled'::text CHECK (fulfillment_status = ANY (ARRAY['unfulfilled'::text, 'partial'::text, 'fulfilled'::text])),
  currency text DEFAULT 'USD'::text,
  subtotal numeric NOT NULL,
  discount_total numeric DEFAULT 0,
  shipping_total numeric DEFAULT 0,
  tax_total numeric DEFAULT 0,
  total numeric NOT NULL,
  shipping_address jsonb,
  billing_address jsonb,
  tracking_number text,
  tracking_url text,
  shipped_at timestamp with time zone,
  delivered_at timestamp with time zone,
  discount_codes jsonb DEFAULT '[]'::jsonb,
  customer_note text,
  internal_note text,
  payment_method text,
  payment_reference text,
  source text DEFAULT 'web'::text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  cancelled_at timestamp with time zone,
  closed_at timestamp with time zone,
  payment_proof jsonb,
  payment_proof_url text,
  transaction_id text,
  CONSTRAINT orders_pkey PRIMARY KEY (id)
);
CREATE TABLE public.pages (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  title text NOT NULL,
  slug text NOT NULL UNIQUE,
  content text,
  sections jsonb DEFAULT '[]'::jsonb,
  template text DEFAULT 'default'::text,
  is_published boolean DEFAULT false,
  seo_title text,
  seo_description text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT pages_pkey PRIMARY KEY (id)
);
CREATE TABLE public.product_options (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  product_id uuid NOT NULL,
  name text NOT NULL,
  position integer DEFAULT 0,
  values ARRAY DEFAULT '{}'::text[],
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT product_options_pkey PRIMARY KEY (id),
  CONSTRAINT product_options_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id)
);
CREATE TABLE public.product_variants (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  product_id uuid NOT NULL,
  title text NOT NULL,
  option1_name text DEFAULT 'Size'::text,
  option1_value text,
  option2_name text DEFAULT 'Color'::text,
  option2_value text,
  option3_name text,
  option3_value text,
  price numeric,
  sale_price numeric,
  sku text UNIQUE,
  barcode text,
  stock integer DEFAULT 0,
  image_url text,
  position integer DEFAULT 0,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  color text,
  size text,
  status text DEFAULT 'active'::text CHECK (status = ANY (ARRAY['active'::text, 'disabled'::text])),
  CONSTRAINT product_variants_pkey PRIMARY KEY (id),
  CONSTRAINT product_variants_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id)
);
CREATE TABLE public.products (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  title text NOT NULL,
  slug text NOT NULL UNIQUE,
  description text,
  short_description text,
  price numeric NOT NULL DEFAULT 0,
  sale_price numeric,
  cost_per_item numeric,
  cover_image text,
  images jsonb DEFAULT '[]'::jsonb,
  sku text UNIQUE,
  barcode text,
  stock integer DEFAULT 0,
  track_inventory boolean DEFAULT true,
  allow_backorder boolean DEFAULT false,
  weight numeric,
  weight_unit text DEFAULT 'kg'::text,
  category_id uuid,
  tags ARRAY DEFAULT '{}'::text[],
  vendor text,
  product_type text,
  status text DEFAULT 'draft'::text CHECK (status = ANY (ARRAY['draft'::text, 'active'::text, 'archived'::text])),
  is_featured boolean DEFAULT false,
  seo_title text,
  seo_description text,
  metadata jsonb DEFAULT '{}'::jsonb,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  published_at timestamp with time zone,
  enable_color_variants boolean DEFAULT false,
  enable_size_variants boolean DEFAULT false,
  available_colors ARRAY DEFAULT '{}'::text[],
  available_sizes ARRAY DEFAULT '{}'::text[],
  CONSTRAINT products_pkey PRIMARY KEY (id),
  CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.collections(id)
);
CREATE TABLE public.reviews (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  product_id uuid NOT NULL,
  customer_id uuid,
  order_id uuid,
  rating integer NOT NULL CHECK (rating >= 1 AND rating <= 5),
  title text,
  content text,
  reviewer_name text,
  reviewer_email text,
  status text DEFAULT 'pending'::text CHECK (status = ANY (ARRAY['pending'::text, 'approved'::text, 'rejected'::text, 'spam'::text])),
  is_verified_purchase boolean DEFAULT false,
  helpful_count integer DEFAULT 0,
  admin_response text,
  admin_response_at timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT reviews_pkey PRIMARY KEY (id),
  CONSTRAINT reviews_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id),
  CONSTRAINT reviews_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id)
);
CREATE TABLE public.shipping_rates (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  zone_id uuid NOT NULL,
  name text NOT NULL,
  description text,
  rate_type text DEFAULT 'flat'::text CHECK (rate_type = ANY (ARRAY['flat'::text, 'weight_based'::text, 'price_based'::text, 'free'::text])),
  price numeric NOT NULL DEFAULT 0,
  min_order_amount numeric,
  max_order_amount numeric,
  min_weight numeric,
  max_weight numeric,
  min_delivery_days integer,
  max_delivery_days integer,
  is_active boolean DEFAULT true,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT shipping_rates_pkey PRIMARY KEY (id),
  CONSTRAINT shipping_rates_zone_id_fkey FOREIGN KEY (zone_id) REFERENCES public.shipping_zones(id)
);
CREATE TABLE public.shipping_zones (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  name text NOT NULL,
  countries ARRAY DEFAULT '{}'::text[],
  is_active boolean DEFAULT true,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT shipping_zones_pkey PRIMARY KEY (id)
);
CREATE TABLE public.site_config (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  key text NOT NULL UNIQUE,
  value jsonb NOT NULL,
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT site_config_pkey PRIMARY KEY (id)
);
CREATE TABLE public.user_cart (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  user_id uuid,
  product_id uuid,
  variant_id uuid,
  quantity integer NOT NULL DEFAULT 1,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT user_cart_pkey PRIMARY KEY (id),
  CONSTRAINT user_cart_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id),
  CONSTRAINT user_cart_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id)
);
CREATE TABLE public.user_otps (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  email text NOT NULL,
  expires_at timestamp with time zone DEFAULT (now() + '00:10:00'::interval),
  created_at timestamp with time zone DEFAULT now(),
  used boolean DEFAULT false,
  otp_code text NOT NULL,
  CONSTRAINT user_otps_pkey PRIMARY KEY (id)
);
CREATE TABLE public.users (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  email text NOT NULL UNIQUE,
  name text,
  phone text,
  address jsonb,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  CONSTRAINT users_pkey PRIMARY KEY (id)
);
CREATE TABLE public.wishlists (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  customer_id uuid NOT NULL,
  product_id uuid NOT NULL,
  variant_id uuid,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT wishlists_pkey PRIMARY KEY (id),
  CONSTRAINT wishlists_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id),
  CONSTRAINT wishlists_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.product_variants(id)
);
